fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pytest
httpx
python-multipart
minio # <--- Minio Python SDK
Pillow # <--- Pillow for thumbnails
passlib[bcrypt] # <--- For password hashing 
bcrypt==4.0.1